

<div class="col-lg-12">
<script>
</script>
	<table  class="display" cellspacing="0" >
	    <thead>
            <tr>
                <th>Ime sobe: </th>
                <th>Beds: </th>
                <th>TV: </th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="#room of rooms">
                <th>{{room.roomname}}</th>
                <th>{{room.beds}}</th>
                <th><span *ngIf="room.tv == '1'">
						Ima
					</span>
					<span *ngIf="room.tv != '1'">
						Nema
					</span>
				</th>
            </tr>
        </tbody>
    </table>
</div>
